<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Upload xlsx file</h3>
    <form enctype="multipart/form-data">
        <input id="upload_xlsx_file" type="file">
        <input id="upload_xlsx_btn" type="submit">
    </form>
    <br>
    <a href="/table_view?table_name=원수_tb_data_True">원수 데이터</a>
    <a href="/table_view?table_name=원수_tb_data_False">원수 함수식</a>
    <a href="/table_view?table_name=출재_tb_data_True">출재 데이터</a>
    <a href="/table_view?table_name=출재_tb_data_False">출재 함수식</a>
    <form class="view_data_form" action="/view_data">
        <label>ACC_PERIOD</label>
        <input type="input" name="ACC_PERIOD" value="202203">
        <label>ACC_PERIOD_TYPE</label>
        <input type="input" name="ACC_PERIOD_TYPE" value="Q">
        <label>M_LIAB_ITEM</label>
        <input type="input" name="M_LIAB_ITEM" value="2101">
        <label>M_ACC_EVENT</label>
        <input type="input" name="M_ACC_EVENT" value="10101">
        <input type="submit">
    </form>
    <form class="view_data_form" action="/view_portf">
        <label>PORTF</label>
        <input type="input" name="portf" value="LANIXX_AZ">
        <input type="submit">
    </form>
    <script>
        const upload_xlsx_btn = document.querySelector("#upload_xlsx_btn")
        const upload_xlsx_file = document.querySelector("#upload_xlsx_file")
        function click_upload_xlsx_btn(e){
            e.preventDefault()
            
            var formdata = new FormData();
            formdata.append('file', upload_xlsx_file.files[0])

            fetch('/xlsx_parsing',{
                method:'POST',
                body:formdata,
            })
            .then((response) => console.log(response.json()))
            .then(data => console.log(data))
        };
        upload_xlsx_btn.addEventListener("click",click_upload_xlsx_btn)
    </script>
</body>
</html>